@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  background-color: #1b1b32;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

#logo {
  aspect-ratio: 35 / 4;
  background-color: #0a0a23;
  padding: 0.4rem;
  width: max(100px, 18vw);
}

h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: center;
}

nav {
  height: 50px;
  max-width: 300px;
  width: 50%;
}

nav > ul {
  height: 100%;
  margin-block: 0;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 50px;
}

section {
  margin: 0 auto 10px;
  max-width: 600px;
  width: 80%;
}

h1,
h2 {
  font-family: Verdana, Tahoma, sans-serif;
}

h2 {
  border-bottom: 4px solid #dfdfe2;
  margin-top: 0px;
  padding-top: 60px;
}

.info {
  padding: 10px 0 0 5px;
}

.formrow {
  margin-top: 30px;
  padding: 0px 15px;
}

input {
  font-size: 16px;
}

.info label,
.info input {
  display: inline-block;
}

.info input {
  text-align: left;
  width: 50%;
}

.info label {
  min-width: 55px;
  text-align: right;
  width: 10%;
}

.question-block {
  margin-top: 20px;
  padding-top: 5px;
  text-align: left;
  width: 100%;
  display: block;
}

p {
  font-size: 20px;
  margin-top: 5px;
  padding-left: 15px;
}

p::before {
  content: "Question #";
}

.question {
  border: none;
  padding-bottom: 0;
}

.answers-list {
  list-style: none;
  padding: 0;
}

textarea {
  width: 100%;
}

button {
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
  font-size: 23px;
  margin: 40px auto;
  padding: 15px;
  width: 40%;
  display: block;
}

footer {
  background-color: #2a2a40;
  display: flex;
  justify-content: center;
}

footer,
footer a {
  color: #dfdfe2;
}

address {
  padding: 0.3em;
  text-align: center;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
  position: absolute;
}
